[submodule "src/Switchboard-Corpus"]
	path = src/Switchboard-Corpus
	url = git@github.com:Akanni96/Switchboard-Corpus.git
	
[submodule "src/MRDA-Corpus"]
	path = src/MRDA-Corpus
	url = git@github.com:NathanDuran/MRDA-Corpus.git

[submodule "src/DockerImages/feng_hirst_rst_parser"]
	path = src/DockerImages/feng_hirst_rst_parser
	url = git@github.com:Akanni96/feng-hirst-rst-parser.git
