#gitignore file for MasteringConversation

#Ignore DataFiles
*/[Dd]ataset/*

#DialogueAct
src/DialogueAct/combined_data*
src/DialogueAct/MRDA-Corpus
src/DialogueAct/Switchboard-Corpus
src/DialogueAct/MIDAS-Corpus
src/DialogueAct/models
src/DialogueAct/models/*
src/DialogueAct/__pycache__/utils.cpython-38.pyc
src/DialogueAct/log
src/DialogueAct/cache/*
src/DialogueAct/cachedata

#NLG
src/NLG/dataset/*
src/NLG/dataset_v2/*
src/NLG/dataset*
src/NLG/Evaluation/*
src/NLG/dataset_opensubs
src/NLG/dataset_*
src/NLG/dataset*
src/NLG/models
src/NLG/tokenizers
src/NLG/models/*
src/NLG/RST_sampler/*
src/NLG/RSTMarkov/*

src/Dyploc/*
src/GRUEN/*
src/pair-emnlp2020/*

src/Archived

src/.ipynb_checkpoints
*bash.exe.stackdump
# *.ipynb
*temp.py
*.ipynb_checkpoints
*_pycache_*

*vscode
*vscode/launch.json
*vscode/settings.json
*temp*

models/*


.vscode/launch.json
.vscode/settings.json
