#gitignore file for MasteringConversation

#Ignore DataFiles
*/[Dd]ataset/*

#DialogueAct
rl_conv/pretrain/DialogueAct/combined_data*
rl_conv/pretrain/DialogueAct/MRDA-Corpus
rl_conv/pretrain/DialogueAct/Switchboard-Corpus
rl_conv/pretrain/DialogueAct/MIDAS-Corpus
rl_conv/pretrain/DialogueAct/models
rl_conv/pretrain/DialogueAct/models/*
rl_conv/pretrain/DialogueAct/__pycache__/utils.cpython-38.pyc
rl_conv/pretrain/DialogueAct/log
rl_conv/pretrain/DialogueAct/cache/*
rl_conv/pretrain/DialogueAct/cachedata
#NLG
rl_conv/pretrain/NLG/dataset/*
rl_conv/pretrain/NLG/dataset_v2/*
rl_conv/pretrain/NLG/Evaluation/*
rl_conv/pretrain/NLG/dataset_opensubs
rl_conv/pretrain/NLG/models
rl_conv/pretrain/NLG/models/*

rl_conv/pretrain/.ipynb_checkpoints
*bash.exe.stackdump
*.ipynb
*temp.py
*.ipynb_checkpoints
*_pycache_*

*vscode
*vscode/launch.json
*vscode/settings.json
*src*


.vscode/launch.json
.vscode/settings.json
